.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
  background-color: #111;
}

.menu .active {
  background-color: #04AA6D;
}


body::before {
  /*background-image: url({{ url_for('static', filename='images/wave-large.jpg') }});*/
  z-index: -1;
  opacity: 0.6;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background-image: url('/static/images/wave-large.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  content: '';
}


/*
 * Formatting the header area
 */
header {
  background-color:#191970;
  height: 40px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 2;
  font-size: 1.3em;
  color: #fff;
  align-content: center;
  float: right;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 2em;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: right;
  margin-right: 5px;
  letter-spacing: -1px;
  color: #999;
}

th {
  background-color: #999;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

.title table {
  border: none;
}

.main-select {
  position: relative;
  font-family: Arial;
}

.main-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.page-rows {
  width: 100%;
}

.video-container {
  display: grid;
  width: 90%;
  align-items: center;
  /*justify-content: center;*/
  /*grid-auto-flow: row;*/
  /*grid-auto-columns: auto;*/
  /*width: 250px;*/
  /*height: fit-content;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
  grid-template-columns: auto auto auto;
  /*bottom: 200px;*/
}

.video-cell {
  margin: 10px;
  padding: 10px;
  width: 300px
  /*height: fit-content;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
}

.weather-container {
  position: absolute;
  bottom: 0px;  
  width: 90%;
  align-items: center;
  height: 150px;
}
