/* Generic global css settings for web site and for base html page sections */


/*
***************************************************
General style settings applied across multiple pages
*/


:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

.center {
  margin: auto;
  text-align: center;
}


.title {
  color: darkblue;
  font-size: 1.3em;
  font-weight: bold;
  /*
  width: 100%;
  text-align: center;
  */
}



.filters {
  margin: 10px;
  padding: 10px;
  background-color: #444;
  color: white;
  width: fit-content;
  margin: auto;
  margin-top: 100px;
}

  
label {
  color: rgb(4, 177, 177);
  font-weight: 500;
}

h1 { 
  font-size: 18px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-family: 'Raleway', cursive;
  font-weight: 100;
  position: relative;
  background: linear-gradient(to right, black, #eee, black);
}


@media screen and (max-width: 800px) {
  h1 {
    font-size: 14px;
  }
}


h1::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  width: 600px;
  margin-left: -300px;
  margin-top: -220px;
  height: 400px;
  background: radial-gradient(50% 50%, ellipse closest-side, #444, black);
  z-index: -1;
}

h1 a {
  background: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  letter-spacing: 30px;
  color: white;
}

h2 {
  font-size: 2em;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -2px;
  color: white;
}


h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: right;
  margin-right: 5px;
  letter-spacing: -1px;
  color: #999;
}



.standout {
  padding: 5px;
  background-color: #444;
  color: white;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
  position:relative;
}

.standout select {
  background-color: #222324;
  color: white;
  padding: 8px;
  width: fit-content;
  border: none;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  align-items: center;  -webkit-appearance: button;
  appearance: button;
}


select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
  z-index: 1;
  height: 2em;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select wrapper */
.select {
  padding-bottom: 3px;
  margin-left: auto;
  margin-top: 15px;
  margin-right: 50px;
  width: 150px;
  height: 2em;
  border-radius: .20em;
  overflow: hidden;
  background-color: rgb(0, 15, 29);
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  padding: 2px;
  background-color: #05273c;
  transition: .25s all ease;
  pointer-events: none;
  z-index: 2;
}

/* Transition */
.select:hover::after {
  color: cyan;
}

