
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

html, body {
	background: #000;
  background-image: url('/static/images/wave-large.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  content: '';
  height: 100%;
}


.container-primary {
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto 1fr auto auto;
  /*
  -- settings for auto colummn count based on screen dimension
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  */

  grid-auto-flow: row;
  grid-column-gap: 10px;
  row-gap: 16px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: center;  /* not relevant as using fraction measurement and not explicit  */

  grid-template-areas: 
    "header header header header header"
    "title title title title title"
    "main main main main main"
    "sub sub sub sub sub"
    "footer footer footer footer footer";
}

.container-header {
  grid-area: header;
  color: white;

}

.container-title {
  grid-area: title;
  color: white;
}

.container-main {
  grid-area: main;
  color: white;
}

.container-middle {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 3;
  grid-row-end: span 1;
  align-content: center;
  color: white;
}

.container-middle img {
  max-width: 70%;
  max-height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
}

.container-rightsidebar {
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  color: white;
  justify-content: space-evenly;
  justify-items: right;
  align-content: space-evenly;
  align-items: stretch;
}


.container-sub{
  grid-area: sub;
  align-content: center;
  color: white;
}

.container-footer{
  grid-area: footer;
  align-content: center;
  color: white;
}

