/* Main video layout styles for the site */


/*
***************************************************
Video screen section settings
*/


.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content:space-between;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: stretch;
  margin: auto;
  height: 100%;
}

  
.video-cell {
  margin: 10px;
  padding: 5px;
  width: 90%;
}
  

  @media screen and (max-width: 800px) {
    .video-cell {
      margin: 10px;
      padding: 10px;
      width: 300px;
      text-align: center;
    }
  }
  
label.video-title {
  margin: 0ch;
}
  