{% extends "base.html" %}


{% block content %}

<h1><a href="*">Information</a></h1>


<div class="info">
    <p>
        Still in early development but doing this site to show that it is still possible to 
        get surf spot information and feeds without having to be:
    </p>

    <ul>
        <li>be flooded with adds</li>
        <li>have web sites collect excessive personal information</li>
        <li>pay recurring fees</li>
    </ul>

    <p>
        I have brought this together initially while out of the water injured so have some
        time to kill. I am not a web designer so I am doing this the hard way :)
    </p>
</div>

{% endblock %}

