{% extends "base.html" %}

{% block content %}
    <form id="search" method="post" action="/sites">


        <div class="center">

            <div class="searchbox">
                Country: 
                <select name="country" id="country" class="main-select" onchange="this.form.submit()">
                    <option value="0">--- Select Country ---</option>
                    {% for _country in countries %}
                        {% if _country.id == countryid %}
                            <option value={{ _country.id }} selected>{{ _country.name }}</option>
                        {% else %}
                            <option value={{ _country.id }}>{{ _country.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                State: 
                <select name="state" id="state" class="main-select" title="State" onchange="this.form.submit()">
                    <option value="0">--- Select State ---</option>
                    {% for _state in states %}
                        {% if _state.id == stateid %}
                            <option value={{ _state.id }} selected>{{ _state.name }}</option>
                        {% else %}
                            <option value={{ _state.id }}>{{ _state.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                Region: 
                <select name="region" id="region" class="main-select" title="Region" onchange="this.form.submit()">
                    <option value="0">--- Select Region ---</option>
                    {% for _region in regions %}
                        {% if _region.id == regionid %}
                            <option value={{ _region.id }} selected>{{ _region.name }}</option>
                        {% else %}
                            <option value={{ _region.id }}>{{ _region.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                Location: 
                <select name="location" id="location" class="main-select" title="Location" onchange="this.form.submit()">
                    <option value="0">--- Select Location ---</option>
                    {% for _location in locations %}
                        <option value={{ _location.id }}>{{ _location.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="center">
            <div id="map"></div>
        </div>

    </form>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ googleapikey }}&callback=initMap&v=weekly" defer></script>
   
    <script>

    function registerLocation() {
        if (this.item > 0){
            var frm = document.getElementById("search");
            frm.action = '/location';
            frm.submit()
            return true;
        }
    }


    // Initialize and add the map
    function initMap() {
        const place = { lat: {{ x }}, lng: {{ y }} };
        const map = new google.maps.Map(document.getElementById("map"), {
                        zoom: {{ zoom }},
                        center: place,
                    });

        {% if regionid > 0 %}

            const _locations = JSON.parse({{ locationsasdict(regionid) | tojson }});
            for (const _location of _locations){
                const marker = new google.maps.Marker({
                                        position: { lat: parseFloat(_location.latitude), lng: parseFloat(_location.longitude) },
                                        map,
                                        title: _location.name,
                                    });

                    marker.addListener('click', function() {
                        window.open('/location/' + _location.id);
                    });
                }

        {% endif %}
    }

    window.initMap = initMap;

    </script>


    {% endblock %}



