{% extends "base.html" %}


{% block content %}

<h1>Test Page</h1>
<div class="page-rows">
    <div class="center" style="background-color: red;">
        <div style="background-color: coral;">
            Red
            <canvas width="200" height="100" style="border:1px solid #000000;"></canvas>
        </div>
    </div>
    <div class="center" style="background-color: blue;">
        <div style="background-color: aqua;">
            Blue
            <canvas width="200" height="100" style="border:1px solid #000000;"></canvas>
        </div>
    </div>
    <div class="center" style="background-color: green;">
        <div style="background-color: lightgreen;">
            green
            <canvas width="200" height="100" style="border:1px solid #000000;"></canvas>
        </div>
    </div>

</div>

{% endblock %}

