<!DOCTYPE html>
<html>
    <head>
      {% if title %}
      <title>Surfers Lookout - {{ title }}</title>
      {% else %}
      <title>Surfers Lookout</title>
      {% endif %}

      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <!-- Main stylesheet -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?ver=4">
      <!-- Addiitional fonts -->
      <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
      <!-- jquery -->
      <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
      <!-- ChartJS -->
      <script src="{{ url_for('static', filename='scripts/chart.js') }}"></script>
      <!-- VideoJS -->
      <link href="https://vjs.zencdn.net/7.20.2/video-js.min.css" rel="stylesheet" />
      <script src="https://vjs.zencdn.net/7.20.2/video.min.js"></script>
      <!-- Video custom -->
      <script src="{{ url_for('static', filename='scripts/video.js') }}"></script>
    </head>

    <header>
      <strong>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('main.beaches') }}">Beaches</a></li>
            <li><a href="{{ url_for('main.forum') }}">Forum</a></li>
            <li><a href="{{ url_for('main.about') }}">About</a></li>
            <li style="float:right">
              <label for="searchtext">Search: </label>
              <input id="searchtext">
              <img id="searchbutton" class="search" src="{{ url_for('static', filename='images/search.png') }}">
            </li>
          </ul>
        </nav>
      </strong>
      <img class="logo" src={{ url_for('static', filename='images/surferslookout-logo.png') }}>

    </header>
    <script>

      $( function() {
        const _locations = JSON.parse({{ locationnames | tojson }});

        var availableLocations = [];
        for (const _location of _locations){
          availableLocations.push(_location.name + ', ' + _location.postal);
        }
        $( "#searchtext" ).autocomplete({
          source: availableLocations
        });
      } );

      $('#searchtext').keypress(function(event) {
        if (event.keyCode == 13) {
          find();
        }
      });

      $('#searchbutton').click(function(event) {
        find();
      });

      function find(){
        var _val = document.getElementById('searchtext').value;
        window.location.replace('/search/' + _val);
      }

    </script>

    <body  style="background-image: {{ url_for('static', filename='images/wave-large.jpeg') }}">
      
      {% block content %}{% endblock %}

    </body>
</html>
