{% extends "base.html" %}

{% block content %}

    <div class="container-title">
        <h1><a href="#0">{{ location.name }}</a></h1>
    </div>

    <div class="container-middle">

            <div class="video-container">
                {% for _cam in cams %}
                    <div class="video-cell" title="{{ _cam.site }}">
                        <video id="{{ getvideoid(loop.index) }}" class="video-js vjs-default-skin" controls muted preload="none" poster="{{ url_for('static', filename='images/video-icon.png') }}">
                            <source src="{{ _cam.url }}" type="application/x-mpegURL">
                        </video>
                    </div>
                {% endfor %}
            </div>

    </div>

    <div class="container-rightsidebar">

        <div class="location-sidebar">
            
            <div class="sidemap" id="map"></div>


            <div class="select">
                <select id="breaks" title="Location" onchange="changeBreak();">
                    <option value="0">- Local Breaks -</option>
                    {% for _location in locations %}
                        {% if _location.name != location.name %}
                            <option value={{ _location.id }}>{{ _location.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

        </div>

    </div>

    <div class="container-sub">

        {% if apiresults == True %}
            <div class="grid-container">
                <div class="grid-cointainer-child" title="Curent Temperature">
                    <img class="forecast" src="{{ url_for('static', filename='images/weather-temp-icon-128.png') }}">
                    <label class="forcast">{{ weather['temp'] }}</label>
                </div>
                <div class="grid-cointainer-child" title="Wind speed km/h">
                    <img class="forecast" src="{{ url_for('static', filename='images/wind-icon.png') }}">
                    <label class="forcast">{{ weather['wind_speed'] }}</label>
                </div>
                <div class="grid-cointainer-child" title="Wind direction">
                    <img class="forecast" src="{{ url_for('static', filename='images/wind-direction-icon.png') }}">
                    <label class="forcast">{{ weather['wind_direction'] }}</label>
                </div>
                <div class="grid-cointainer-child" title="Wave height">
                    <img class="forecast" src="{{ url_for('static', filename='images/wave-icon.png') }}">
                    <label class="forcast">{{ swell['height'] }}</label>
                </div>
                <div class="grid-cointainer-child" title="Swell direction">
                    <img class="forecast" src="{{ url_for('static', filename='images/compass.png') }}">
                    <label class="forcast">{{ swell['direction'] }}</label>
                </div>
                <div class="grid-cointainer-child" title="Wave interval period">
                    <img class="forecast" src="{{ url_for('static', filename='images/hourglass.png') }}">
                    <label class="forcast">{{ swell['interval'] }}</label>
                </div>
                <div class="grid-cointainer-child" title="Water temperature">
                    <img class="forecast" src="{{ url_for('static', filename='images/watertemp-icon.png') }}">
                    <label class="forcast">{{ water['temperature'] }}</label>
                </div>
            </div>

        {% endif %}
    </div>

    <div class="container-footer">
        <div class="weather-row">
            <div class="weather-cell">
                <iframe src="https://cdnres.willyweather.com.au/widget/loadView.html?id={{location.willy_weather}}" class="weather-frame" title="Weather"></iframe>
                <br><label>Weather</label>
            </div>
            <div class="weather-cell">
                <iframe src="https://cdnres.willyweather.com.au/widget/loadView.html?id={{location.willy_wind}}" class="weather-frame" title="Wind"></iframe>
                <br><label>Wind</label>
            </div>
            <div class="weather-cell">
                <iframe src="https://cdnres.willyweather.com.au/widget/loadView.html?id={{location.willy_swell}}" class="weather-frame" title="Swell"></iframe>
                <br><label>Swell</label>
            </div>
            <div class="weather-cell">
                <iframe src="https://cdnres.willyweather.com.au/widget/loadView.html?id={{location.willy_tide}}" class="weather-frame" title="Tide"></iframe>
                <br><label>Tide</label>
            </div>
        </div>
    </div>


    <script src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_API_KEY }}&callback=initMap&v=weekly" defer></script>

    <script>

        setVideo({{ item_count(cams) }});

        function changeBreak(){
            var _breaks = document.getElementById('breaks');
            if (_breaks.value > 0){ 
                window.location.replace('/location/' + document.getElementById('breaks').value);
            }
        }

        function initMap() {
            let zoom=10;
            const _locations = JSON.parse({{ locationsbyregion_asdict(location.region_id) | tojson }});

            const place = { lat: {{ location.latitude }}, lng: {{ location.longitude }} };
            const map = new google.maps.Map(document.getElementById("map"), {
                            zoom: zoom,
                            center: place,
                        });


            for (const _location of _locations){
                const marker = new google.maps.Marker({
                                        position: { lat: parseFloat(_location.latitude), lng: parseFloat(_location.longitude) },
                                        map,
                                        title: _location.name,
                                        icon:  "{{ url_for('static', filename='images/surfer_icon_32.png') }}",
                                    });

                marker.addListener('click', function() {
                    window.location.replace('/location/' + _location.id);
                });
            }
        }

        window.initMap = initMap;

    </script>

{% endblock %}



