@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #000;
  background-image: url('/static/images/wave-large.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  content: '';
}


/*
***************************************************
Header settings as applied to the common base page 
*/

header {
  background-color: black;
  height: 40px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 2;
  font-size: 1.3em;
  color: #fff;
  text-align: center;
}

header h1.logo:hover {
  color: red;
  text-decoration: none;
}

header img.logo{
  position:absolute;
  top:0;
  left:0;
  right:0;
  margin:auto;
  height: 50px;
  width: 50px;
}

.mainlogo {
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin:auto;
  bottom:0;
}

/*
***************************************************
Menu bar elements
*/

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li label {
  color: white;
  text-align: left;
  padding: 14px 16px;
}

.menu li input {
  margin-top: 14px;
  margin-right: 10px;
}

.menu li a:hover {
  background-color: rgb(43, 45, 45);
}

.menu .active {
  background-color: #04AA6D;
}

/*
***************************************************
General style settings applied across multiple pages
*/


.center {
  margin: auto;
  text-align: center;
}

.page-rows {
  margin: 10px;
  padding: 10px;
  width: 100%;
  /*
  display: flex;
  */
}



.title {
  color: darkblue;
  font-size: 1.3em;
  font-weight: bold;
  /*
  width: 100%;
  text-align: center;
  */
}


/*
***************************************************
Video screen section settings
*/


.video-container {
  display: inline-grid;
  width: 1050px;
  grid-template-columns: auto;
  justify-content: space-between;
  /*
  height: fit-content;
  align-items: center;
  justify-content: center;
  grid-auto-flow: row;
  grid-auto-columns: auto;
  flex-direction: row;
  bottom: 200px;
  */
}

@media screen and (max-width: 800px) {
  .video-container {
    display: inline-grid;
    width: 700px;
    grid-template-columns: auto;
    justify-content: space-between;
  }
}

table.video-table {
  margin: auto;
  text-align: center;
  border: none;
}

table.video-table > td {
  border: none;
}

.video-cell {
  margin: 10px;
  padding: 10px;
  width: 500px;
  text-align: center;
  /*
  border-style: solid;
  border-width: 10px;
  border-color: red;
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
  */
}

@media screen and (max-width: 800px) {
  .video-cell {
    margin: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
  }
}

label.video-title {
  margin: 0ch;
}

table.location-table {
  margin: auto;
  text-align: center;
  border: none;
  bottom: 200px;
  margin-top: 50px;
  /*
  position:absolute;
  */
}

.filters {
  margin: 10px;
  padding: 10px;
  background-color: #444;
  color: white;
  width: fit-content;
  margin: auto;
  margin-top: 100px;
}

img.search {
  height: 18px;
  width: 18px;
  margin-right: 10px;
  cursor: pointer;
  /*
  padding: 14px 16px;
  */
}


/*
***********************************
Map layoout
*/

#map {
  margin: auto;
  margin-top: 100px;
  height: 400px;
  width: 800px;
}

/*
***********************************
Weather sections
*/

.weather-container {
  position:absolute;
  width:300px;
  height:200px;
  bottom:0px;
  right:-50%;
  left:50%;
  /*
  margin-left:-150px;
  bottom: 0px;  
  width: 90%;
  align-items: center;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin: auto;
  */
}

.weather-row {
  display:inline-flex;
  margin: 0 auto;
}

.weather-column {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

label {
  color: rgb(4, 177, 177);
  font-weight: 500;
}

.weather-frame {
  width: 300px;
  height: 171px;
  border: 0;
}

@media screen and (max-width: 800px) {
  .weather-frame {
    width: 250px;
    height: 171px;
    border: 0;
  }
} 


h1 { 
  font-size:large;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-family: 'Raleway', cursive;
  font-weight: 100;
  position: relative;
  background: linear-gradient(to right, black, #eee, black);
}

h1::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  width: 600px;
  margin-left: -300px;
  margin-top: -220px;
  height: 400px;
  background: radial-gradient(50% 50%, ellipse closest-side, #444, black);
  z-index: -1;
}

h1 a {
  background: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  letter-spacing: 30px;
  color: white;
}

/*
h2 {
  font-size: 2em;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: right;
  margin-right: 5px;
  letter-spacing: -1px;
  color: #999;
}
*/


/*

Unused style settings


div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}



th {
  background-color: #999;
}

table, th, td {
  border-collapse: collapse;
  padding: 3px;
}


.title table {
  border: none;
}

label.search {
  float:inline-end;
  margin: 0 auto;
}

input.search {
  float: inline-end;
  margin: 0 auto;
}

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}



select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

select:focus {
  outline: none;
}


.standout {
  padding: 5px;
  background-color: #444;
  color: white;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  position:relative;
}

.standout select {
  background-color: #222324;
  color: white;
  padding: 8px;
  width: fit-content;
  border: none;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  align-items: center;
}

/*
.standout select::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(14, 4, 4, 0.1);
  pointer-events: none;
  justify-self: end;
}
*/